<nav>
  <ul>
    <li><%= link_to "All", root_path %></li>
    <li><%= link_to "Beef", "/beef" %></li>
    <li><%= link_to "Chicken", "/chicken" %></li>
    <li><%= link_to "Vegetable", "/vegetable" %></li>
    <li><%= link_to "Seafood", "/seafood" %></li>
    <li><%= link_to "Appetizer", "/appetizer" %></li>
    <li><%= link_to "Lunch Special", "/special" %></li>
  </ul>
</nav>