<ul class="nav flex-column menu-items">
  <li class="nav-item"><%= link_to "All", root_path, class: "nav-link" %></li>
  <li class="nav-item"><%= link_to "Beef", "/beef", class: "nav-link" %></li>
  <li class="nav-item"><%= link_to "Chicken", "/chicken", class: "nav-link" %></li>
  <li class="nav-item"><%= link_to "Vegetable", "/vegetable", class: "nav-link" %></li>
  <li class="nav-item"><%= link_to "Seafood", "/seafood", class: "nav-link" %></li>
  <li class="nav-item"><%= link_to "Appetizer", "/appetizer", class: "nav-link" %></li>
  <li class="nav-item"><%= link_to "Lunch Special", "/special", class: "nav-link" %></li>
</ul>
